.news, .plans{
    h3 > a{
        color: var(--bs-body-color);
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }

    .text-danger h3 > a{
        color: var(--bs-danger);
    }
}